@using AuthSimulator.Models;
@model CredentialData


<ul class="nav nav-tabs" id="main_tab">
    <li class="nav-item" id="tab_credential">
        <a class="nav-link active" aria-current="page" href="#" data-tabindex="1">Login</a>
    </li>
    <li class="nav-item" id="tab_userlist">
        <a class="nav-link" href="#" data-tabindex="2">Choose User</a>
    </li>
    <li class="nav-item" id="tab_users">
        <a class="nav-link" href="#" data-tabindex="3">Users</a>
    </li>
    <li class="nav-item" id="tab_client">
        <a class="nav-link" href="#" data-tabindex="4">Clients</a>
    </li>
    <li class="nav-item" id="tab_settings">
        <a class="nav-link" href="#" data-tabindex="5">Settings</a>
    </li>
</ul>

<div id="login_pwd">
    <div class="p-3 mt-3 border shadow">
        <form action="/home/login" method="post" class="p-3">
            <div class="row">
                <label class="form-label fw-bold" for="email">Username/Email</label>
                <input id="email" class="form-control" type="text" required name="email" />
            </div>
            <div class="row mt-3">
                <label class="form-label fw-bold" for="password">Password</label>
                <input id="password" class="form-control" type="password" required name="password" />
            </div>
            <div class="row mt-3">
                <input class="btn btn-lg btn-primary" type="submit" value="Sign In">
            </div>

            <input type="hidden" name="redirect_uri" value="@Model.RedirectUrl" />
            <input type="hidden" name="state" value="@Model.State" />
        </form>
    </div>
</div>
<div id="login_user" style="display:none">
    <div class="p-3 mt-3 border shadow">
        <form action="/home/loginbyid" method="post" class="p-3">
            <div class="row">
                <label class="form-label fw-bold" for="userselect">User</label>
                <select class="form-select" id="userselect" name="userId">
                    @foreach (var item in Model.Users)
                    {
                        <option value="@item.Id">@item.Text</option>
                    }
                </select>
            </div>

            <div class="row mt-3">
                <input class="btn btn-lg btn-primary" type="submit" value="Sign In">
            </div>

            <input type="hidden" name="redirect_uri" value="@Model.RedirectUrl" />
            <input type="hidden" name="state" value="@Model.State" />

        </form>
    </div>
</div>
<div id="users" style="display:none" class="p-3 mt-3 border shadow">
</div>
<div id="clients" style="display:none" class="p-3 mt-3 border shadow">
</div>
<div id="settings" style="display:none" class="p-3 mt-3 border shadow">
</div>


<script>

    const { createApp } = Vue;
    $("#users").load("/gui/user");
    $("#clients").load("/gui/client");
    $("#settings").load("/gui/parameter");

    $("#main_tab .nav-link").click(function () {
        $("#main_tab .nav-link").removeClass("active");
        let index = $(this).attr("data-tabindex");
        $(this).addClass("active");

        $("#login_pwd").hide();
        $("#login_user").hide();
        $("#users").hide();
        $("#clients").hide();
        $("#settings").hide();

        switch (index.toString()) {
            case "1":
                $("#login_pwd").show();
                break;
            case "2":
                $.get("/user/list", function (res) {
                    $("#login_user #userselect").empty();
                    for (let i = 0; i < res.length; i++) {
                        var option = $('<option></option>').attr("value", res[i].id).text(res[i].text);
                        $("#login_user #userselect").append(option);
                    }
                    $("#login_user").show();
                });
                break;
            case "3":
                $("#users").show();
                break;
            case "4":
                $("#clients").show();
                break;
            case "5":
                $("#settings").show();
                break;
        }
    });
</script>